<div class="well">
  <div style="position: relative; width: 100%; height: 24px;">
    <div style="position: absolute; width: 100%;" class="text-left">{{ dateInfo.start }}</div>
    <div style="position: absolute; width: 100%;" class="text-center">{{ dateInfo.current }}</div>
    <div style="position: absolute; width: 100%;" class="text-right">{{ dateInfo.end }}</div>
  </div>
  <div class="form-group">
    <input id="date-picker" value="0" type="range" min="0" ng-attr-max="{{ dates.length - 1 }}" ng-change="dateInfo.setDate()" ng-model="dateInfo.index">
  </div>
</div>









