<header class="page-header">
  <h2>Stocks</h2>
  <div class="form-group">
    <input type="text" placeholder="Filter Stocks..." class="form-control">
  </div>
</header>

{{ globals.date }}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Price</th>
        <th>1d</th>
        <th>7d</th>
        <th>30d</th>
        <th></th>
      </tr>
    </thead>
    <tbody>

      <!-- TODO use company here -->

      <tr ng-repeat="stock in stocks">
        <td>{{ stock.dataset_code }}</td>
        <td>{{ stock.price | currency }}</td>
        <td>{{ stock.one | currency }}</td>
        <td>{{ stock.seven | currency }}</td>
        <td>{{ stock.thirty | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

    </tbody>
  </table>  
</div>










