<!-- TODO -->

<header class="page-header">
  <h2>Trade</h2>
</header>


<div class="panel panel-default">
  <header class="panel-heading">
    <h3>Stats</h3>
  </header>
  <div class="panel-body">
    <h4>Cash: {{ 1234.12 | currency }}</h4>
    <h4>Status: <span class="text-success">VALID</span></h4>
  </div>
</div>


<div class="form-group">
  <label>Symbol: APPL</label>
</div>

<div class="form-group">
  <label>Buy/Sell</label>
  <select name="action" id="action" class="form-control">
    <option value="buy">Buy</option>
    <option value="sell">Sell</option>
  </select>
</div>

<div class="form-group">
  <label>Quantity</label>
  <input type="number" class="form-control">
</div>

<div class="form-group">
  <label>Date: Today</label>
</div>

<div class="form-group">
  <label>Price: $1234.12</label>
</div>

<div class="form-group">
  <label>Cost: $1234.12</label>
</div>


<div class="form-group">
  <button class="btn btn-success btn-lg">Place Order</button>
</div>









