<!-- TODO -->

<header class="page-header">
  <h2>Transactions</h2>
  <div class="form-group">
    <input type="text" placeholder="Filter Transactions..." class="form-control">
  </div>
</header>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Symbol</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1/12/2016</td>
        <td>APPL</td>
        <td>BUY</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
      </tr>

      <tr>
        <td>1/12/2016</td>
        <td>APPL</td>
        <td>BUY</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
      </tr>

      <tr>
        <td>1/12/2016</td>
        <td>APPL</td>
        <td>BUY</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
      </tr>

      <tr>
        <td>1/12/2016</td>
        <td>APPL</td>
        <td>BUY</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
      </tr>

      <tr>
        <td>1/12/2016</td>
        <td>APPL</td>
        <td>BUY</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
      </tr>

      <tr>
        <td>1/12/2016</td>
        <td>APPL</td>
        <td>BUY</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
      </tr>

      <tr>
        <td>1/12/2016</td>
        <td>APPL</td>
        <td>BUY</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>














