<!-- TODO -->

<header class="page-header">
  <h2>Portfolio</h2>
</header>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Cost Basis</th>
        <th>Current Value</th>
        <th>Profit/Loss</th>
        <th>1d</th>
        <th>7d</th>
        <th>30d</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 12341234.12 | currency }}</td>
        <td>{{ 12341234.12 | currency }}</td>
        <td>{{ 12341234.12 | currency }}</td>
        <td>{{ 12341234.12 | currency }}</td>
        <td>{{ 12341234.12 | currency }}</td>
        <td>{{ 12341234.12 | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>



<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Current Value</th>
        <th>Profit/Loss</th>
        <th>Current Price</th>
        <th>1d</th>
        <th>7d</th>
        <th>30d</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>

      <tr>
        <td>APPL</td>
        <td>10</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td>{{ 1234.12 | currency }}</td>
        <td><a href="#">Trade</a></td>
      </tr>
    </tbody>
  </table>
</div>













